<div class="search-form mt-5">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">Nhap tu khoa</label>
            <input
                type="text"
                class="form-control"
                name="q"
                id="search-input"
                placeholder="nhap tu khoa"
            />       
        </div>

        <select name="gender" id="gender-input" class="form-control">
          <option value="">choose your gender</option>
          <option value="male">male</option>
          <option value="female">female</option>
        </select>
        <button type="submit" class="btn btn-primary mt-3">Search</button>
    </form>
</div>